#analyze-properties {
  //
  // Font
  //
  font-size: 14px;
  font-family: 'Roboto', sans-serif;

  //
  // Scrollbars
  //
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #a0a4aF;
    border-radius: 0;
    border: none;
  }
}
